/Simple_Factory_Pattern/Simple_Factory_Patten/.vs
/Factory_Method_Pattern/Factory_Method_Pattern/.vs
/Factory_Method_Pattern/Factory_Method_Pattern/Debug
/Simple_Factory_Pattern/Simple_Factory_Patten/Debug
/Abstract_Factory_Pattern/.vs
